%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to "LetMeGolf", root_path, id: 'logo'
      %nav
        %ul.nav.pull-right
          %li= link_to "Find a course", '#'
          %li= link_to "Competetion", root_path
          %li#fat-menu.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#", onclick: "return false;"}
              Social
              %b.caret
            %ul.dropdown-menu
              %li.dropdown-header
                For bants
              %li= link_to "Events", '#'
              %li.divider
              %li.dropdown-header
                Free fun
              %li
                = link_to "Golfday", root_path