.container#navigation-id
  %ul.nav.nav-pills
    %li.active= link_to "LetMeGolf", root_path, class: 'logo'
    %li.singleplay= link_to "Single Play", singleplay_path, onclick: 'return false'
    %li.signin= link_to "Sign in", signin_path unless signed_in? current_user
    %li.signup= link_to "Sign up", signup_path unless signed_in? current_user
    - if signed_in? current_user
      %li.multiplayer= link_to "Multiplayer", multiplayer_path, onclick: 'return false'
      %li.compete= link_to "Compete", compete_path, onclick: 'return false'
      %li.social= link_to "Social", social_path, onclick: 'return false'
      %li.dropdown
        %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#', onclick: 'return false' }
          Account
          %span.caret
        %li.dropdown-menu{'data-timeout' => 'dropdown'}
          =link_to '#', onclick: 'return false' do
            Profile
            %span.pull-right#profile-image
              =image_tag "/assets/golfer.png", size: "15x25"
          =link_to '#', onclick: 'return false' do
            Statistics
            %span.glyphicon.glyphicon-signal.pull-right
          =link_to '#', onclick: 'return false' do
            Settings
            %span.glyphicon.glyphicon-wrench.pull-right
          =link_to '#', onclick: 'return false' do
            Inbox
            %span.badge.pull-right 42
          =link_to signout_path, method: "delete" do
            Sign Out
            %span.glyphicon.glyphicon-send.pull-right




/ %nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
/   .navbar-brand= link_to "LetMeGolf", root_path, class: 'logo'
/   %ul.nav.navbar-nav.navbar-right
/     %li.header-link= link_to "Find a course", '#', {onclick: 'return false'}
/     %li.header-link= link_to "Competition", '#', {onclick: 'return false'}
/     %li#fat-menu.dropdown
/       %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#", onclick: "return false;"}
/         Social
/         %b.caret
/       %ul.dropdown-menu
/         %li.dropdown-header
/           Join the community
/         %li.header-link= link_to "Events", '#', {onclick: 'return false'}
/         %li.divider
/         %li.dropdown-header
/           Lmg hosted event
/         %li
/           = link_to "Golfday", root_path
/     %li#signup-replacement= link_to "Sign up's easy!...", '#', {onclick: 'return false'}
/     %li#signup-link= link_to 'Not a Member?', '#', {onclick: 'return false'}