.container
  %ul.nav.nav-pills
    %li.active= link_to "LetMeGolf", root_path, class: 'logo'
    %li= link_to "Single Play", singleplay_path, onclick: 'return false'
    %li= link_to "Sign in", signin_path unless signed_in? current_user
    - if signed_in? current_user
      %li= link_to "Compete", compete_path, onclick: 'return false'
      %li= link_to "Social", social_path, onclick: 'return false'
      %li.dropdown
        %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#' }
          Account
        =link_to "Profile", user_path, class: "dropdown-item"
        %span.caret
        =link_to "Settings", edit_user_path
        %span.caret
        =link_to "Inbox", '#'
        %span.caret
        =link_to "Sign Out", signout_path, method: "delete"




/ %nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
/   .navbar-brand= link_to "LetMeGolf", root_path, class: 'logo'
/   %ul.nav.navbar-nav.navbar-right
/     %li.header-link= link_to "Find a course", '#', {onclick: 'return false'}
/     %li.header-link= link_to "Competition", '#', {onclick: 'return false'}
/     %li#fat-menu.dropdown
/       %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#", onclick: "return false;"}
/         Social
/         %b.caret
/       %ul.dropdown-menu
/         %li.dropdown-header
/           Join the community
/         %li.header-link= link_to "Events", '#', {onclick: 'return false'}
/         %li.divider
/         %li.dropdown-header
/           Lmg hosted event
/         %li
/           = link_to "Golfday", root_path
/     %li#signup-replacement= link_to "Sign up's easy!...", '#', {onclick: 'return false'}
/     %li#signup-link= link_to 'Not a Member?', '#', {onclick: 'return false'}